<li>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <h4 class="page-header">
          <i class="fa fa-user"></i>
          {{ app.user.username }}
        </h4>
        <div class="list-group">
          <a href="{{ path('fos_user_profile_show') }}" class="list-group-item">Show profile</a>
          <a href="{{ path('fos_user_profile_edit') }}" class="list-group-item">Edit profile</a>
          <a href="{{ path('fos_user_change_password') }}" class="list-group-item">Change password</a>
        </div>
        <div class="text-center">
          <hr>
          <a href="{{ path('fos_user_security_logout') }}" class="btn btn-default btn-block">Logout</a>
        </div>
        <div class="clearfix">
          <br>
        </div>
      </div>
    </div>
  </div>

</li>
